.container4
{
    display: none;
}
@media(max-width: 1300px)
{
    #container
    {
        display:flex;
    }
    .container1
    {
        min-width: 100%;
    }
    .container2
    {
        display: none;
    }
    .container3
    {
        display: none;
    }
    .container4
    {
        display: block;
    }
}
@media(max-width: 1100px)
{
    #container
    {
        display:block;
    }
    .container1
    {
        min-width: 100%;
    }
    .container2
    {
        display: none;
    }
    .container3
    {
        display: flex;
        min-width: 100%;
        background-color:  skyblue;
    }
    .container4
    {
        display: none;
    }
}

@media(max-width: 750px)
{

    #container
    {
        display:block;
    }
    .container1
    {
        min-width: 100%;
    }
    .container2
    {
        display: none;
    }
    .container3
    {
        display: none;
        max-width: 100%;
        background-color: 	#DCDCDC;
    }
    .container4
    {
        display: block;
        min-width: 100%;
    }
}
