.container4
{
    display: none;
}
.container5
{
    display: none;
}
@media(max-width: 1300px)
{
    #container
    {
        display:flexbox;
    }
    .container1
    {
        width: 50%;
    }
    .container2
    {
        display: none;
    }
    .container3
    {
        display: none;
    }
    .container4
    {
        display: block;
    }
}
@media(max-width: 1100px)
{
    html, body
    {
        margin:0%;
    }
    div
    {
        display: block;

    }
    #container
    {
        display:  block;
        width: 100%;
        background-color:  #b3ccff;
    }
    .container1
    {
        display: inline-block;
        width: 100%;
        margin: 0%;
    }
    .container2
    {
        display: none;
    }
  
    .container3
    {   display: block;
        background-color:   #b3ccff;
    }
    .container4
    {
        display: none;
    }
    .container5
    {
        display: block;
    }
}

@media(max-width: 850px)
{

    #container
    {
        display:block;
    }
    .container1
    {
        min-width: 100%;
    }
    .container2
    {
        display: none;
    }
    .container3
    {
        display: none;
        max-width: 100%;
        background-color: 	#DCDCDC;
    }
    .container4
    {
        display: block;
        min-width: 100%;
    }
    .container5
    {
        display: block;        
    }
}
