#curve1
{
    position: absolute;
    top: 150px;
    left: 1050px;
    transform: rotate(90deg);

}
#curve2
{
    display: block;
    position: absolute;
    top: 150px;
    left: 1190px;  
    max-width: 100%;
}
#curve3
{
    position: absolute;
    top: 100px;
    left: 1100px;
    width: 60px;
    transform: rotate(90deg);

}
#curve4
{
    position: absolute;
    top: 100px;
    left: 1180px;
    width: 60px;
    
    

}
#man2
{
    display: block;
    position: relative;
    left: 40px;
    max-width:100%;
}
#Rewardsy
{
    position: absolute;
    top: 120px;
    left: 1050px;
}
#Savingsy
{
    position: absolute;
    top: 100px;
    left: 1150px;  
}
#Investmentsy
{  position: absolute;
    top: 50px;
    left: 1000px;
}
#Forexy
{
    position: absolute;
    top: 20px;
    left: 1150px;   
}
#Analyticsy
{
    position: absolute;
    top: 40px;
    left: 1240px;
}

#cardsy
{
    position: absolute;
    top: 200px;
    left: 1170px;
}
#Paymentsy
{
    position: absolute;
    top: 160px;
    left: 1220px;
}
#Loany
{
    position: absolute;
    top: 180px;
    left: 1120px;
}
#Supporty
{  position: absolute;
    top: 100px;
    left: 1240px;
}
